.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #002f52, #326589);
  padding: 92px 0;
  position: relative;
}

.homeSection > img.left {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.homeSection > img.right {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.homeSection > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  font-family: "Poppins", sans-serif;
}

.homeSection > div > h1 {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.homeSection > div > p {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-top: 2px;
  margin-bottom: 26px;
}

.homeSection > div > input {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 22px;
  border-radius: 24px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.homeSection > div > input:focus {
  outline: 1px solid #ffffff;
}

.homeSection > div > input::placeholder {
  color: #ffffff;
  text-align: center;
}

.newsSection > h1 {
  font-weight: 700;
  font-size: 32px;
  color: #eb9b00;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 50px 0 16px 0;
}

.newsSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebecee;
}

.newsSection > div > .books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.newsSection > div > .books > img:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}

.bookCard {
  max-width: 550px;
}

.cardHeader > p {
  font-weight: 700;
  font-size: 32px;
  color: #eb9b00;
  margin: 0;
}
